module.exports = {
    local_ip: '127.0.0.1',
    sip_port: 8070,
    mrcp_port: 8888,
    rtp_lo_port: 10000, // Lowest UDP Port Number for RTP
    rtp_hi_port: 10400, // Highest UDP Port Number for RTP
    rtp_timeout: 5000,  // Timeout for RTP packets to be exchanged. If there is no activity for more than this, the SIP call will be terminated

    default_sr_engine: 'google',
    default_ss_engine: 'google',

    julius: {
        'ja-JP': {
            server_ip: '0.0.0.0',
            server_port: 10500,
        },
    },

    olaris: {
        api_base: 'realtime.stt.olaris.cloud/real-time-decode',
        product_name: 'YOUR_PRODUCT_NAME',
        organization_id: 'YOUR_ORGANIZATION_ID',
        api_key: 'YOUR_API_KEY',
    },

    olaris_v2: {
        api_base: 'realtime.stt.stg.olaris.cloud/real-time-decode',
        product_name: 'YOUR_PRODUCT_NAME',
        organization_id: 'YOUR_ORGANIZATION_ID',
        api_key: 'YOUR_API_KEY',
    },
}
